outputs/communities_map.html
.Rproj.user
progress.md
tempfolder/
.vscode
drafts/v0-2025-11-30/outputs/track_vectors.txt
drafts/v0-2025-11-30/outputs/communities_map.html
drafts/v0-2025-11-30/outputs/w2v.model
drafts/v0-2025-11-30/deprecated/track_graph.gexf
drafts/v3-2026-01-30/case-study/data
case-study/data
drafts/